* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #f4f6f9;
    color: #333;
    min-height: 100vh;
}

/* KUNCI TATA LETAK SIDEBAR */
.sidebar {
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/* AREA UTAMA KANAN MENGALIR DI BELAKANG SIDEBAR */
.main-content {
    margin-left: 260px;
    width: calc(100% - 260px);
    min-height: 100vh;
}

/* Animasi Fade In Antar Halaman Panel */
.view-panel {
    animation: fadeInPage 0.3s ease-in-out;
}

@keyframes fadeInPage {
    from { opacity: 0; transform: translateY(8px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Efek List Grup Interaktif untuk Riwayat & Kendaraan */
.list-group-item-action {
    cursor: pointer;
    transition: all 0.2s ease;
}
.list-group-item-action:hover {
    padding-left: 20px;
    background-color: #f0f9ff;
    color: #0369a1;
}

